<div style='max-height:450px;overflow:auto;'>
<table class="table table-hover">
    <thead>
        <th>商品</th>
        <th>选取</th>
    </thead>
    <tbody>   
        {loop $activity $row}
        <tr>
            <td>{$row['title']}</td>
            <td style="width:10%;"><a href="javascript:;" onclick='select_activity({php echo json_encode($row);})'>选择</a></td>
        </tr>
        {/loop}
        {if count($activity)<=0}
        <tr> 
            <td colspan='4' align='center'>未找到</td>
        </tr>
        {/if}
    </tbody>
</table>
</div>