*{touch-callout:none;-webkit-touch-callout:none;-ms-touch-callout:none;-moz-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.mui-content{background-color: #f4f4f4;}
.mui-bar-nav{background:transparent;transition:background 0.6s;height:1.72rem!important;display:flex;padding:0 0.45rem;}
.header-inner{overflow:hidden;position:relative}
.header-inner .inner-content{transition:background-color 1s;border-radius:0 0 20% 20%;margin:0 -0.3rem;padding:1.7rem 0.3rem 2.2rem 0.3rem;overflow:hidden;position:relative}
.header-inner .bottom_bg{background:left top repeat-x url('../images/header_bg.png?v=2019012');background-size:auto 100%;-moz-background-size:auto 100%;position:absolute;bottom:0;height:1.8rem;width:100%}
.mui-slider .mui-slider-indicator{bottom:0;}
#slider1{margin-top:0.2rem;margin-bottom:0.22rem;}
#slider1 .mui-slider-group .mui-slider-item{padding:0 0.45rem;}
#slider1 .mui-slider-group .mui-slider-item img{border-radius:0.2rem;}
#slider1 .mui-slider-indicator{display:table;}
#slider1 .mui-slider-indicator .mui-indicator{width:15px;height:1px;margin:0;border-radius:0;}

.mui-card,.mui-card .mui-media,.mod-cate .mui-slider{border-radius:0.52rem!important;}
.main-inner{position:relative;top:-2rem;margin-bottom:-2rem;padding:0 0.45rem}
.main-inner .mui-card{margin:0 0 0.42rem 0;}
.main-inner .mui-card, .main-inner .mui-card-header,.main-inner .mui-card-footer{background-color:#fff;border:none;}
.main-inner .mui-card .mui-table-view .mui-table-view-cell.mui-media{padding:10px;background:#FFF}
.main-inner .mui-card-header{padding:0.4rem 4.2%;position:relative;}
.main-inner .mui-card-header h5{color:#333;font-weight:600;font-size:0.65rem;}
.main-inner .mui-card.card img{border-radius:0.2rem 0 0 0.2rem;vertical-align:bottom;}
.main-inner .mui-card.card .mui-card-content-inner{padding:0;margin:0 3.2% 0.45rem 3.2%;}
.main-inner .mui-card.card .mui-card-content-inner .card-info{width:40%;height:100%;color:#FFF;padding:0.3rem;position:absolute;background:-webkit-linear-gradient(left, rgba(110,82,252,1) 20%, rgba(180,42,250,1) 100%);top:0;right:0;bottom:0.45rem;border-radius:0 0.2rem 0.2rem 0;}
.main-inner .mui-card.card .mui-card-content-inner .card-info:before {content: "";position:absolute;left:-0.4rem;top:50%;border-top:0.8rem solid transparent;border-right:0.8rem solid #6e52fc;border-bottom:0.8rem solid transparent;-webkit-transform: translateY(-50%)}
.main-inner .mui-card.card .mui-card-content-inner .card-info h4{font-size:1rem;}
.main-inner .mui-card.card .mui-card-content-inner .card-info ul{color:#fff;padding-left:17px; line-height:1.6;font-size:0.42rem;}
.main-inner .mui-card-footer{ text-align:center; font-size:12px;}
.main-inner .mui-card-footer a{color:#59acff!important;}
.main-inner .mui-table-view .mui-media-object{max-width:4rem!important;width:4rem!important;height:3.4rem;border-radius:0.2rem;overflow:hidden;text-align:center}
.main-inner .mui-table-view .mui-media-object img{border-radius:0.2rem;}
.main-inner .mui-table-view .mui-media-object em{border-radius:0 0.3rem 0 0.12rem;line-height:1;position:absolute;bottom:0;padding:0.18rem 0.2rem 0.08rem 0.2rem;font-size:65%; background:#593A25; color:#FFE200}
.main-inner .mui-slider-title{color:#666666;opacity:1;background:-webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);padding-right: 35%;color: #fff;}
.main-inner .mui-grid-view{background:#FFF; border:none!important;display:table}
.main-inner .mui-grid-view .mui-table-view-cell{border:none;padding:inherit;display:table-cell}
.main-inner .mui-grid-view .mui-table-view-cell.mui-col-xs-2{display:inline-block}
.main-inner .mui-grid-view .mui-table-view-cell .mui-category-ico{height:1.6rem;width:1.6rem;display:-webkit-inline-box;overflow:hidden;border-radius:100%;}
.main-inner .mui-grid-view .mui-media-body{font-size:0.48rem!important;margin-top:0.2rem!important;color:#666666!important; height:auto!important; line-height:1.1!important}

.mui-col-xs-2{width:20%}
.mod-cate{margin:auto;margin-bottom:0.42rem;overflow:hidden;}
.mod-cate .mui-slider{background:#FFF;}
.mod-cate .mui-slider .mui-slider-group{margin-bottom:12px;}
.mod-cate .mui-slider-indicator .mui-indicator{background:#ededed;}
.mod-cate .mui-slider-indicator .mui-indicator.mui-active{background:#feda00;}

#vip {background:-webkit-linear-gradient(bottom, rgba(255,255,255,1) 65%, rgba(245,230,210,1) 100%);display:none}
#vip .mui-card-content-inner{display:table;width:100%; padding-top:0.65rem;background:left top url('../images/top_bg.png?v=122') no-repeat;background-size:60% 18%;}
#vip .mui-card-content-inner .mod{display:table-cell;vertical-align:middle}
#vip .mui-card-content-inner .mod:last-child{width:78%;}
#vip .mui-card-content-inner .title{width:21%;}
#vip .mui-card-content-inner .title b{color:#613916}
#vip .mui-card-content-inner .title p{margin:0;color:#a67c4c!important}
#vip .wrapper{position:relative;width:100%;height:3.2rem;overflow:hidden;}
#vip .scroll{position:absolute;z-index:1;width:auto;height:100%;white-space:nowrap;-webkit-transform:translateZ(0);transform:translateZ(0);}
#vip .scroll .hot-item{display:inline-block;margin-right:0.06rem;white-space:normal;height:100%;vertical-align:top;width:3.2rem;}
#vip .scroll .hot-item .media{height:77%; position:relative;border-radius: 0.2rem; overflow:hidden; text-align:center;}
#vip .scroll .hot-item .media span{position:absolute;z-index:1;padding-top:0.2rem;left:0;bottom:0;color:#fff;width:100%;background:-webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);line-height:2}
#vip .scroll .hot-item .mui-rmb:before{font-size:90%!important;}
#vip .scroll .hot-item p{margin:0;position:relative;bottom:-0.2rem;text-align:center;width:90%;font-size:0.35rem;margin:0 auto;line-height:normal}
#hot{display:none}
#hot .mui-card-header{color:#666;font-size:0.56rem;background:center 0.5rem url('../images/top_bg_1.png?v=125003') no-repeat;background-size:35%;}
#hot .mui-card-content .mui-card-content-inner{padding:0 0.2rem;min-height:3rem;}
#hot .mui-card-content .mui-card-content-inner .hot-item{width:50%;height:7.2rem;float:left;padding:0;overflow:hidden;position:relative}
#hot .mui-card-content .mui-card-content-inner .hot-item a{margin:0 0.32rem;display:block;height:100%}
#hot .mui-card-content .mui-card-content-inner .hot-item .media{height:4rem;overflow:hidden;border-radius:0.2rem;}
#hot .mui-card-content .mui-card-content-inner .hot-item p{font-size:0.5rem;line-height:1.4;margin:0.1rem 0.25rem;text-align:justify;}
#hot .mui-card-content .mui-card-content-inner .hot-item p:last-child{position:absolute;margin:0;padding:0 0.57rem;width:100%;left:50%;bottom:0.8rem;transform:translateX(-50%);}
#hot .mui-card-footer{font-size:0.45rem;margin-top:-0.7rem;}
#hot .mui-card-footer .mui-icon{font-size:0.65rem;}

#prolist,#prolist .mui-card-header{background:transparent;}
#prolist .mui-card-header{padding:0 0.4rem;}
#prolist .mui-card-content .mui-table-view {background:transparent;}
#prolist .mui-card-content .mui-table-view .mui-table-view-cell{overflow:hidden!important}
#prolist .mui-card-content .mui-table-view .mui-media{margin-bottom:0.42rem;padding:0;font-size:0.6rem;}
#prolist .mui-card-content .mui-table-view .mui-media:after{height:0}
#prolist .mui-card-content .mui-table-view .mui-media p{font-size:inherit;}
#prolist .mui-card-content .mui-table-view .mui-media>a{margin:0;padding:0.5rem;}
#prolist .mui-card-content .mui-table-view .mui-media-body .body-title{color:#333;font-size:0.53rem;display:inherit;line-height:2;width:90%;}
#prolist .mui-card-content .mui-table-view .mui-media-body .body-con{line-height:2;}
#prolist .mui-card-content .mui-table-view .mui-media-body .body-con p{color:#646464}
#prolist .mui-card-content .mui-table-view .mui-media-body .body-con .mui-rmb{position:relative;bottom:-0.05rem;line-height:normal;margin-right:0.1rem;}
#prolist .mui-card-content .mui-table-view .mui-media-body .body-con .mui-rmb .mui-big{ font-size:150%!important}
#prolist .mui-card-content .mui-table-view .mui-media-body .mui-badge{border-radius:0.08rem;background:#f6f6f6;color:#646464;font-size:0.38rem!important;line-height:normal;padding:0 0.2rem;margin-right:0.2rem;position:relative}
#prolist .mui-card-content .mui-table-view .mui-media-body .mui-badge.inverted{background:transparent;}
#prolist .mui-card-content .mui-table-view .mui-media-body .mui-badge.inverted:after{content: " ";width:340%;height:341%;position:absolute;top:0;left:0;border: 1px solid #bbbbbb;-webkit-transform: scale(0.3);transform: scale(0.3);box-sizing: border-box;border-radius:0.3rem;-webkit-transform-origin: 0 0;transform-origin: 0 0;}
#prolist .mui-card-content .mui-table-view .mui-media-body .body-atlas{font-size:0;margin-top:0.18rem;}
#prolist .mui-card-content .mui-table-view .mui-media-body .body-atlas img{vertical-align:bottom;font-size:0;display:inline-block;width:32%;height:3rem;margin-right:0.25rem;border-radius: 0.2rem;}

#angle{width:4rem;height:4rem;color:#fff;background:#CCC;transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);position: absolute;z-index:1;right:-2.75rem;top:-2.75rem;}
#angle em{position:absolute;bottom:0.06rem;left:50%;font-size:0.3rem;line-height:1;-webkit-transform: translate(-50%);transform: translate(-50%);}
.gradient{background:-webkit-linear-gradient(left, rgba(254,159,33,1) 10%, rgba(255,73,52,1) 100%)!important;color:#fff!important}

.mod-search {width:100%;margin:auto;background:rgba(0,0,0,0.15);color:#fff;font-size:0.52rem;border-radius:0.7rem;padding:0.25rem 0.5rem;line-height:normal;opacity:0.75;display:table}
.mod-search span{position:relative;display:inline-block; overflow:hidden;display:table-cell;}
.mod-search .search-city{width:2rem;max-width:4.2rem;padding-right:1rem;}
.mod-search .search-city a{color:#fff;display:block}
.mod-search .search-city:before{content: "";position:absolute;right:0;top:54%;border-right:1px solid #fff;height:70%;-webkit-transform: translateY(-50%) scaleX(0.5);transform: translateY(-50%) scaleX(0.5);}
.mod-search .search-city:after{font-size:0.2rem;position:absolute;right:0.3rem;top:53%;-webkit-transform: translateY(-50%);transform: translateY(-50%);}
.mod-search .search-keywords{padding-left:0.28rem;opacity:0.65;}
.mod-faqi{color:#fff!important;position:relative;opacity:0.75;font-size:0.4rem;text-align:center;line-height:normal;margin-left:0}
.mod-faqi .mui-ext-icon{line-height:normal;margin:0;}
.mod-faqi .mui-ext-icon:before{font-size:0.72rem!important;color:#fff;margin-top:0.3rem;display:inline-block;font-size:inherit;text-decoration: none;-webkit-font-smoothing:antialiased;}
.reset{background:#f2f2f2}
.reset .mod-search{background: rgba(0,0,0,0.06);}
.reset .mod-search,.reset .search-city a,.reset .mod-faqi,.reset .mod-faqi .mui-ext-icon:before{color:#232323!important;}
.reset .mod-search .search-city:before{border-right:1px solid #232323;}

.bgtitle{position:relative;text-align:center;font-size:0.75rem;line-height:1.5}
.bgtitle:after{position:absolute;z-index:0;bottom:0.22rem;content:'';height:0.22rem;width:25%;left:50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);border-radius:0.1rem;background:#ffd101;}
.bgtitle b{position: relative; z-index:1}